@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* font-family: Merriweather; */
}


/* --- Banner Section --- */
.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 16px;
    margin: 50px 140px 120px 140px;
}

.banner-content {
    padding: 233px 344px 177px 344px;
}

.banner-content>h2 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

.banner-content>h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 0px;
}



/* --- Discount Section --- */
.discount-content>h1 {
    color: red;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;

}

.discount-content>p {
    color: red;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.discount-content>h4 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.new-year {
    display: flex;
    justify-content: center;
}

/* --- Welcome Section --- */
.welcome {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    margin: 120px 140px 120px 140px;
    height: 600px;
    display: flex;
}

.welcome-content {
    margin: 126px 39px 214px 126px;
}

.welcome>img {
    margin: 68px 138px 67px 0px;
}

.welcome-content>h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
}

.welcome-content>p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.welcome button {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    border: 0;
    margin-top: 48px;
    margin-left: 32px;
}

/* --- Location Section --- */
.location {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    margin: 0px 140px;
    height: 482px;
}

.location-content {
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    padding: 100px 385px 48px 385px;
}

.location-content span {
    color: #F00;
}

.location-content button {
    border-radius: 8px;
    background: #F00;
    border: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    margin-top: 48px;
}

/* --- Coming Soon Section Start --- */
.coming-soon {
    display: flex;
    margin: 0px 140px;
    border: 1px solid red;
}

.column-1 {
    text-align: left;
    margin: 104px 70px 104px 0px;
}

.column-1>h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.column-1>h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.column-1>p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.column-2{
    border-radius: 50%;
    border: 10px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.column-2 img{
    margin: 18px;
}
.column-3 {
    margin: 104px 0px 0px 118px;
}

.column-3>h2 {
    color: red;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.column-3>p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

