@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Merriweather;
}


/* --- Banner Section --- */
.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 16px;
    margin: 50px 140px 120px 140px;
}

.banner-content {
    padding: 233px 344px 177px 344px;
}

.banner-content>h2 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

.banner-content>h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 0px;
}



/* --- Discount Section --- */
.discount-content>h1 {
    color: red;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;

}

.discount-content>p {
    color: red;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.discount-content>h4 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.new-year {
    display: flex;
    justify-content: center;
}

/* --- Welcome Section --- */
.welcome {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    margin: 120px 140px 120px 140px;
    height: 600px;
    display: flex;
}

.welcome-content {
    margin: 126px 39px 214px 126px;
}
.welcome>img{
    margin: 68px 138px 67px 0px;
}
.welcome-content>h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
}

.welcome-content>p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.welcome button {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    border: 0;
    margin-top: 48px;
    margin-left: 32px;
}